
body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    background-color: #000000;
    text-align: center;
}
h1 {
  text-align: center;
  margin-top: -550px;
  font-family:Georgia;  
  color: #ffffff;
  font-size: 80px;
}

header {
    background-color: #00000000;
    padding: 15px 0;
    text-align: right;
}

.botao1 {
    font-family:'Times New Roman';
    padding: 5px 1%;        
    font-size: 16px;           
    color: #000000;                 
    background-color: #ffffff;   
    border: 2px solid #000000;   
    border-radius: 10px;          
    cursor: pointer;    
    text-decoration: none;          
    transition: background-color 0.3s; 
}

.botao2 {
    font-family: 'Times New Roman';
    padding: 5px 1%;        
    font-size: 16px;           
    color: #000000;                 
    background-color: #ffffff;   
    border: 2px solid #000000;   
    border-radius: 10px;          
    cursor: pointer;       
    text-decoration: none;       
    transition: background-color 0.3s; 
    margin-right: 30px;
}

.botao1:hover, .botao2:hover {
    background-color: #000;
    color: #fff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 410px;
}

#pond{
    display: flex;
    justify-content: center;
    height: 100%;
}
